.ServiceCalcTableTotal {
   display: flex;
   font-size: 20px;

   div {
     font-weight: bold;
     margin: 0 20px 0 10px;

     span {
       color: #2D538A;
     }
   }

   @media screen and (max-width: 575px) {
     flex-wrap: wrap;
     font-size: 16px;
   }

 }