.BlueButton {
  border: 2px solid #3D6AAE;
  color: #3D6AAE;
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;

  &:hover {
    text-decoration: none;
  }
} 