.ServiceTableLine {
}

.ServiceTableCellTitle {
  width: auto;
  flex: 2 0 auto;
  justify-content: space-between;
}

.ServiceTableCellDesc {
}

.ServiceTableCellInput {
}

.ServiceTableCellList {
}

.ServiceTableCellListDecor {

}
