.ServiceControls {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  & > div, & > a {
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex: 0 0 200px;
    justify-content: center;
    cursor: pointer;
  }

}

.ServiceControlsAdd {
  border: 2px solid #3D6AAE;
  color: #3D6AAE;
}

