.GreenHead {
  display: flex;
  align-items: center;
  background: rgba(98, 195, 1, 0.25);
  padding: 4px 20px;
  height: 60px;
  & > div{
    display: flex;
    flex: 1 0 95%;
    height: inherit;
    align-items: center;
  }
}

