.flexBase {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.ServiceTableWrapper {
  background: #F9F9F9;
  font-size: 18px;
  padding: 5px 15px 15px;
  margin: 15px 0;
}
.ServiceTableHeading{
  @extend .flexBase;
  padding: 10px 0;
  justify-content: space-between;
}
.ServiceTableDeleteBtn{
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #3D6AAE;
  color: #3D6AAE;
}

.ServiceTableLine {
  height: 60px;
  margin-bottom: 15px;
  @extend .flexBase;
  &:last-child{
    margin: 0;
  }
}

.ServiceTableCellTitle {
  height: 100%;
  width: 15%;
  background: #E3E3E3;
  position: relative;
  padding: 0 15px;
  @extend .flexBase;
  //flex: 1 0 200px;

}

.ServiceTableCellDesc {
  height: 100%;
  width: 30%;
  background: #E3E3E3;
  position: relative;
  padding: 0 15px;
  @extend .flexBase;
}

.ServiceTableCellInput {
  height: 100%;
  background: #F3F3F3;
  position: relative;
  flex: 1 0 auto;
  @extend .flexBase;

  input, select {
    height: inherit;
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.ServiceTableCellList {
  height: 100%;
  width: 40%;
  background: #F3F3F3;
  position: relative;
  //flex: 1 0 auto;
  @extend .flexBase;

  input, select {
    height: inherit;
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.ServiceTableCellListDecor {
  max-width: 32px;
  flex: 1 0 32px;
  height: inherit;
  background: #E3E3E3;
}
.ServiceTableCellBtns{
  height: 100%;
  @extend .flexBase;
  flex: 1 0 auto;
}
.ServiceTableCellBtn {
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  background: #D0D0D0;
  text-align: center;
  height: inherit;
  color: #fff;
  @extend .flexBase;
  flex: 1 0 auto;
  padding: 0 15px;
  position: relative;
  justify-content: center;
  &:last-child{
    margin: 0 0 0 15px;
  }

  &.active {
    background: #292929;
    border-radius: 1px;
  }
}
.ServiceTableCellArrow {
  flex: 1 0 auto;
  margin: 0 0 0 15px;
  border-bottom: 1px solid #C4C4C4;
  position: relative;

  &:after {
    content: '>';
    position: absolute;
    right: 0;
    color: #C4C4C4;
    font-size: 15px;
    top: -11px;
  }
}

