.ServiceTabs {

  & > div {
    height: 64px;
    margin: 0 10px;
    font-size: 20px;
    border: 2px solid #F7F7F7;
    border-radius: 1px;
    cursor: pointer;
  }
}
.active {
  background: #2D538A;
  color: #fff;
  strong{
    color: #fff;
  }
}




