.GreenButton {
  background: #62C301;
  color: #FFFFFF;
  display: flex;
  height: 60px;
  border-radius: 5px;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
}