.ServiceCalcTabs {
  display: flex;
  align-items: center;
  height: 50px;
}

.ServiceCalcTab {
  background: #F3F3F3;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  margin-right: 5px;
}

.active {
background-color: #fff;
}