
.ServiceCalcBottomTitle {
  padding: 12px 20px 20px;
  margin: 30px 0 0 0;
  font-size: 20px;
  color: #2D538A;
  font-weight: bold;
  @media screen and (max-width: 575px) {
    font-size: .9rem;
  }
}

.TableHeadRow{
  height: 60px;
  max-height: 60px;
  & th{
    padding: 0 10px!important;
  }
}
.TableBodyRow{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 60px;
  background: #F3F3F3;
  & td{
    padding: 0 0 0 20px!important;
  }
}
.ServiceCalcBottomContainer {
  display: flex;
  flex-wrap: nowrap;
  .LeftBlock {
    flex: 1 0 25%;
   table {
     margin-bottom: 0!important;
   }
    .TableBodyRow{
      overflow: hidden;
      & td:first-child > div{
        border-right: 2px solid #E3E3E3;
      }
    }
  }
  .RightBlock{
    flex: 1 0 75%;
    overflow: hidden;
    overflow-x: scroll;
    table {
      margin-bottom: 0!important;
    }
    @media screen and(max-width: 767px) {
      flex: 1 0 60%;
    }

  }
  .scroll-6{
    overflow-x: hidden;
    @media screen and(max-width: 992px) {
      overflow-x: scroll;
    }
  }
  .scroll-4{
    overflow-x: hidden;
    @media screen and(max-width: 767px) {
      overflow-x: scroll;
    }
  }
  .scroll-2{
    overflow-x: hidden;
    @media screen and(max-width: 575px) {
      overflow-x: scroll;
    }
  }

}
