html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  height: 100%;
}
* {
  color:#292929;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}
li {
  list-style: none;
}

