.Td {
  position: relative;
  height: inherit;
  padding: 0 0.5rem!important;
}

.TdItem {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: .9rem !important;
}

//td, th {
//  padding: 0.5rem 0.75rem!important;
//  vertical-align: baseline !important;
//  font-size: .9rem;
//  text-align: center;
//}