.ServiceCalcRow {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 60px;

  svg {
    path {
      transition: .3s ease-in;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: rgba(0, 0, 0, .5);
        transition: .3s ease-in;
      }
    }
  }


}

.ServiceCalcRow {
  .rowCounter {
    display: flex;
    height: 60px;
    padding: 0 0.75rem !important;

    & > div {
      height: 100%;
    }
  }
}
.counterBtn {
  width: 26px;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease-in;
  background-color: rgba(0, 0, 0, .02);

  &:hover {
    transition: background-color .3s ease-in;
    background-color: rgba(0, 0, 0, .05);
  }
}

.counterInput {
  height: 100%;

  & > input {
    width: 60px;
    height: 100%;
    border: none;
    text-align: center;
  }
}

.WorkerCount {
  width: 50px;
  height: 100%;
  background: #F9F9F9;
  border: none;
  font-weight: bold;
}